<div class="page-wrap">
    
    <button class="page-content-left" onclick="p1Appear()">
        P1
    </button>
    <div style="display:none" id="p1">
    <img class="avatar-xlg" style="border-color:rgba(71, 255, 122, 0.9)" align="right" src='/images/val.jpg'>
    <p class="p1-text">
    Player One : VAL<br>
    placeholder
    </p>
    </div>
    <div style="display:none" id="p2">
    <img class="avatar-xlg" style="border-color:rgba(212, 12, 41, 0.9);" align="left" src='/images/Dav.jpg'>
    <p class="p2-text">
    Player Two : DAV<br>
    placerholder
    </p>
    </div>
    <button class="page-content-right" onclick="p2Appear()">
        P2
    </button>
    
</div>