
.avatar {
  height: 80px;
  width: 80px;
  border-style: double;
  border-color: rgba(71, 122, 255, 0.9);
  border-radius: 50%;

}


.avatar-sm {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(71, 122, 255, 0.9);
}


.avatar-lg {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(71, 122, 255, 0.9);
}

.avatar-xlg {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(71, 122, 255, 0.9);
}

.avatar-xxlg {
  height: 450px;
  width: 450px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(71, 122, 255, 0.9);
}