
.btn-one {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 330px;
  width: 330px;
  padding: 20px;
}

.btn-one {
  font-family: 'Orbitron', sans-serif;
  font-size: 64px;
  font-weight: bold;
  color: rgba(51, 102, 254, 1);
  text-shadow: 0 0 5px rgba(51, 102, 254, 1), 0 0 10px rgba(51, 102, 254, 0.5), 0 0 20px rgba(51, 102, 254, 0.1);
}

.btn-one {
background-color: rgba(0, 0, 0, 0);
}

.btn-one {
  border-style: none;
  border-width: 2px;
  border-radius: 50%;
  border-color: rgba(255, 255, 255, 1);
}

.btn-one:hover {
  filter: contrast();
  background: rgba(51, 102, 254, 0.2);
}

.btn-one:active {
  background: rgba(51, 102, 254, 0.5);
}
