/* Style the tab */
.tabheader {
   overflow: hidden;
   border-radius: 25px;
   border: 1px solid rgb(255, 0, 0);
   box-shadow:
    inset 0 0 10px rgb(255, 0, 0),
    inset -5px 0 10px rgb(255, 0, 0),
    inset 5px 0 10px rgb(255, 0, 0),
    0 0 10px rgb(255, 0, 0),
    -5px 0 10px rgb(255, 0, 0),
    5px 0 10px rgb(255, 0, 0);
}

/* Style the buttons that are used to open the tab content */
.tabheader button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 15px;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0000;
    text-align: center;
    
}

/* Change background color of buttons on hover */
.tabheader button:hover {
   background-color: rgba(255, 0, 0, 0.815);
   box-shadow:
    0 0 5px rgba(255, 0, 0, 0.815),
    -5px 0 5px rgba(255, 0, 0, 0.815),
    5px 0 5px rgba(255, 0, 0, 0.815);
}

/* Create an active/current tablink class */
.tabheader button.active {
   background-color: rgb(255, 0, 0);
   box-shadow:
   0 0 5px rgba(255, 0, 0, 0.815),
   -5px 0 5px rgba(255, 0, 0, 0.815),
   5px 0 5px rgba(255, 0, 0, 0.815);
}

/* Style the tab content */
.tabcontent {
   display: none;
   text-align: center;
   size: cover;
}



h1{
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 55px #ff0000, 0 0 75px #ff0000;
    text-align: center;
    }

