<div class="navbar">
  <div class="navbar-logo">
    <img src="" height="30px" width="30px" alt="logo">
  </div>
  helloooooooooo
  hellllloooooooo
  <div class="navbar-right">
    hellooooooooooooo
  </div>
</div>
