<div class="navbar">
  <div class="navbar-logo">
    <a href="/"><img class="logo"src="images/skull.jpg" alt="logo"></a>
  </div>  
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"; class="ctr-link"><b class="scrt-msg">We</b> <b class="scrt-msg">Cont</b>inue with our <b class="scrt-msg">rol</b>e</a>
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"; class="ctr-link">We are <b class="scrt-msg">You</b>r creations</a>
  <a href="/card"; class="ctr-link">Play your <b class=card>CARDS</b> right</a>
  <div class="navbar-right">
    <div class="dropdown">
      <span><img class="avatar-sm" src="/images/hal9000.jpg"></span>
      <div class="dropdown-content">
         <a href="/">Home</a>       
         <a href="/profile">Profiles</a>       
      </div>
    </div> 
  </div>
</div>
 