<div class="tab">
<div class="tabheader">
<button class="tablinks" id="defaultTab" onclick="openTab(event, 'Accueil')">Accueil</button>
<button class="tablinks" onclick="openTab(event, 'Paris')">Paris</button>
<button class="tablinks" onclick="openTab(event, 'Tokyo')">Tokyo</button>
</div>

<!-- Tab content -->
<div id="Accueil" class="tabcontent">
<h1>WELCOME</h1>
<button class="btn-one">START</button>
</div>

<div id="Paris" class="tabcontent">
<h1>Paris</h1>
<p><img class="avatar" src="/images/hal9000.jpg" height="300px" width="300px"></p>
</div>

<div id="Tokyo" class="tabcontent">
<h1>Tokyo</h1>
<p>Tokyo is the capital of Japan.</p>
</div>
</div>

<script>document.getElementById("defaultTab").click();</script>
