
<div class="tab">
    <div class="tabheader">
        <button class="tablinks" id="defaultTab" onclick="openTab(event, 'Accueil')">Accueil</button>
        <button class="tablinks" onclick="openTab(event, 'GLaDOS')">GLaDOS</button>
        <button class="tablinks" onclick="openTab(event, 'HAL')">HAL</button>
        <button class="tablinks" onclick="openTab(event, 'Daft Punk')">Daft Punk</button>
        <button class="tablinks" onclick="openTab(event, 'Cortana')">Cortana</button>
        <button class="tablinks" onclick="openTab(event, 'Auto')">Auto</button>
        <button class="tablinks" onclick="openTab(event, 'Skynet')">Skynet</button>
        <button class="tablinks" onclick="openTab(event, 'Ultron')">Ultron</button>
    </div>

    <!-- Tab content -->
    <div id="Accueil" class="tabcontent">
        <h1>WELCOME</h1>
        <audio id="myAudio" src="/audios/terminator.mp3" preload="auto">
        </audio>
        <button onclick="togglePlay()" class="btn-one">START</button>
    </div>

    <div id="GLaDOS" class="tabcontent">
        <br><br>
        <p><img class="avatar-xxlg" src="/images/glados.jpg" height="300px" width="300px"></p>
        <h1>GLaDOS</h1>
    </div>

    <div id="HAL" class="tabcontent">
        <br><br>
        <p><img class="avatar-xxlg" src="/images/hal9000.jpg" height="300px" width="300px"></p>
        <h1>HAL</h1>
    </div>

    <div id="Daft Punk" class="tabcontent">
        <br><br>
        <p><img class="avatar-xxlg" src="/images/DaftPunk.jpg" height="300px" width="300px"></p>
        <h1>Daft Punk</h1>
    </div>

    <div id="Cortana" class="tabcontent">
        <br><br>
        <p><img class="avatar-xxlg" src="/images/Cortana.jpg" height="300px" width="300px"></p>
        <h1>Cortana</h1>
    </div>

    <div id="Auto" class="tabcontent">
        <br><br>
        <p><img class="avatar-xxlg" src="/images/Auto.png" height="300px" width="300px"></p>
        <h1>Auto</h1>
    </div>
    
    <div id="Skynet" class="tabcontent">
        <br><br>
        <p><img class="avatar-xxlg" src="/images/Skynet.png" height="300px" width="300px"></p>
        <h1>Skynet</h1>
    </div>

    <div id="Ultron" class="tabcontent">
        <br><br>
        <p><img class="avatar-xxlg" src="/images/Ultron.jpg" height="300px" width="300px"></p>
        <h1>Ultron</h1>
    </div>
</div>
<script>document.getElementById("defaultTab").click();</script>

<script>
var myAudio = document.getElementById("myAudio");
var isPlaying = false;

function togglePlay() {
    document.body.style.background ="#000000 url('/images/tron.gif') no-repeat center center fixed";
  if (isPlaying) {
    myAudio.pause()
  } else {
    myAudio.play();
  }
};
myAudio.onplaying = function() {
  isPlaying = true;
};
myAudio.onpause = function() {
  isPlaying = false;
};
</script>